{% extends 'layout.html' %}

{% block content %}
<form action="add" method="POST">
    <input type="text" name="title"><br>
    <input type="text" name="body"><br>
    <input type="submit">
</form>
<div>
    <table class="table">
        <th>Id</th>
        <th>Title</th>
        <th>Body</th>
        <th>Delete</th>
        {% for el in posts %}
        <tr>
            <td>{{ el.id }}</td>
            <td>{{ el.title }}</td>
            <td>{{ el.body }}</td>
            <td><a href="/delete/{{el.id}}" class="btn btn-danger">Удалить</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}